/*(put colors in root) colors green- #8bdfca  blue- #8ba6df purple- #b28bdf darkblue- #005884 darkgreen- #327564 darkpurple- #3e0084 */
:root{
    --purple: #b28bdf;
    --green: #8bdfca;
    --blue: #8ba6df;
    --white: antiquewhite;
}
body{
    font-family: 'cursive', Georgia, 'Times New Roman', Times, serif;
    color:antiquewhite;
    background-color:#8ba6df;
    background-image: url(background-body.jpg);
    background-repeat: round;

}
/* Needs background */
header{
    
    background-image: url(background-header.jpg);
    padding:5%;
    border-bottom:10px solid #3e0084 ;
    margin-bottom:20px;

}
h1{
    font-size: 100px;
    display:block;
    margin-bottom: 20px;
}
main{
    display:flex;
    flex-direction: column;
    margin-bottom:20px;

}
/* make the nav white and remove line move to the right */
nav{
  position:absolute;
  right: 200px;
  /* margin-right:20px; */
}
nav a{ 
    color:var(--white);
    text-decoration: none;
    margin:30px;
    font-size: 30px;
    
}
section{
    margin-left: 50px;
    margin-right:50px;
    margin-bottom:20px;
    border-bottom: 10px solid #005884 ;



}
h2{
    display:block;
    /* justify-content: center; */
    /* max-width: 500px; */
    margin-bottom:20px;
    margin-left: 40%;
    font-size: 50px;
}

#avatar{
    float:left;
    margin:20px;




}
img{
    flex-direction: row;
    flex-wrap:wrap;
    margin:20px;
    width:400px;
    border: 10px solid #327564;
}
#best{
    width:50%;
    margin-left: 20%;
    margin-right:20%;
}
p{
    /* display:inline; */
    font-size: 30px;
    line-height: 1.5;
    margin:20px;
    /* padding:20%; */
}
div{
    margin-left:30%;
}
#contact a {
    text-decoration: none;
    color:var(--white);
    font-size:40px;
    margin:50px;
}

footer{
    border-top: 10px solid #327564;
    padding:5%;
    background-image: url(background-footer.jpg);
}
h3{ 
    position:absolute;
    left:45%;
}
@media screen and (max-width:992px){
    section{
        margin-left:40px ;
        margin-right:40px ;
    }
    h2{
        font-size:40px;
        margin-left:35%;

    }
    #avatar{
        
    }
   img{
    width: 300px;
    margin:15px;
   }
    #best{
        width:70%;
        margin-left:15%;
        margin-right:15%;
    }

     p{
        font-size:20px;
        display:flex;
    }
    div{
        margin-left:4%;
    }
}
@media screen and (max-width:768px) {
    h1{
        text-align: center;
    }
    nav{
        right:100px;
    }
    p{
        display:flex;
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width:576px){
    nav{
        right:30px;
    }
    nav a {
        margin:10px;
       font:25px;
    }
    h2{
        margin-left:25%;
    }
    #avatar{
        float:none;
        display:block; 
        position:relative;
        left:60px;
        
    }
    #best{
        width:90%;
        margin-left:5%;
    }
    img{
        margin-left:100px;
    }
    p{
        display:block;
    }
    div{
         margin:5%;
    }
    #contact a{
        margin:15px;
        font-size:35px;
        
    }
    h3{
        left:40%;
    }
    }